.wrapper { 
    max-width: 70rem;
    margin: 2rem auto; /* o Auto fica centralizado na tela */
    padding: 0 1rem; /* se diminuir o conteudo, não fica colado na lateral */
    
    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;

}